* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f1f3f6;
}


.navbar {
  background-color: #2874f0;
  color: white;
  display: flex;
  align-items: center;
  padding:  10px;
  gap: 20px;
}

.logo {
  font-size: 15px;
  font-weight: bold;
  background-color:white;
}

.search-bar {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 2px;
  outline: none;
}

.login-btn {
  background-color: white;
  color: #2874f0;
  border: none;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
}

.link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}


.container {
  display: flex;
  width: 800px;
  margin: 60px;
  margin-left: 300px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.left-box {
  flex: 1;
  background-color: #2874f0;
  color: white;
  padding: 40px 30px;
}

.left-box h1 {
  margin-bottom: 10px;
}

.left-box p {
  font-size: 14px;
  line-height: 1.5;
}

.left-box img {
  width: 100%;
  margin-top: 50px;
}

.right-box {
  flex: 1;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  margin-bottom: 15px;
  outline: none;
}

.right-box input:focus {
  border-color: #2874f0;
}

.terms {
  font-size: 12px;
  color: gray;
  margin-bottom: 20px;
}

.terms a {
  color: #2874f0;
  text-decoration: none;
}

.otp-btn {
  background-color: #fb641b;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
}

.create-account {
  margin-top: 25px;
  font-size: 14px;
  text-align: center;
}

.create-account a {
  color: #2874f0;
  text-decoration: none;
  font-weight: 100;
}